<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Classic Video Game Resources</title>
  <style type="text/css">
    form { margin: 0; padding: 0; }
    #left { float: left; width: 65%; }
    #right { float: right; width: 30%; }
    .sidebox { border: 2px solid black; background: #eee;
      padding: 10px; margin-top: 20px; }
    .cloud1 { font-size: 0.5em; color: blue; }
    .cloud2 { font-size: 0.8em; color: darkblue; }
    .cloud3 { font-size: 1.1em; color: purple; }
    .cloud4 { font-size: 1.4em; color: darkpurple; }
  </style>
</head>
<body>
  <%= link_to('Arcade Resources', links_url) %> |
  <%= link_to('Add New Resource', new_link_url) %>
  <hr/>
  <div id="title">
    <% unless @title.nil? -%>
      <h1><%= h(@title) %></h1>
    <% end -%>
  </div>
  <div id="left">
    <%= yield %>
  </div>
  <div id="right">
    <div id="tagcloud" class="sidebox">
      <% tag_cloud(Link.tag_counts,
        %w(cloud1 cloud2 cloud3 cloud4)) do |tag, css_class| -%>
          <%= link_to(tag.name, tag_path(tag), :class => css_class) %>
      <% end -%>
    </div>
  </div>
</body>
</html>
