<% form_for(@car) do |f| %>
  <p><b>Year</b><br />
    <%= f.text_field :year %> </p>
  <p><b>Make</b><br />
    <%= f.text_field :make %> </p>
  <p><b>Model</b><br />
    <%= f.text_field :model %> </p>
  <p><b>Price</b><br />
    <%= f.text_field :price %></p>
  <p><%= f.check_box :is_on_lot %>
    <b>On lot</b><br /></p>
  <p><%= f.check_box :is_sold %>
    <b>Sold</b></p>
  <p><%= f.check_box :is_paid_in_full %>
    <b>Paid in full</b></p>
  <p><b>Notes</b><br />
    <%= f.text_area :notes %></p>
  <p><%= f.submit "Create" %></p>
<% end %>

