<h1>Listing cars</h1>
<table>
  <tr>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
    <th>Price</th>
    <th>On lot?</th>
    <th>Sold?</th>
    <th>Paid in full?</th>
    <th>Notes</th>
  </tr>
<% for car in @cars %>
  <tr>
    <td><%=h car.make %></td>
    <td><%=h car.model %></td>
    <td><%=h car.year %></td>
    <td><%=h car.price %></td>
    <td><%=h car.is_on_lot %></td>
    <td><%=h car.is_sold %></td>
    <td><%=h car.is_paid_in_full %></td>
    <td><%=h car.notes %></td>
    <td><%= link_to 'Show', car %></td>
    <td><%= link_to 'Delete', car, :confirm => 'Are you sure?',
                                   :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New car', new_car_path %>

