<h1>New document</h1>
<%= error_messages_for :document %>
<% form_for(@document, :html=>{:multipart=>true} ) do |f| %>
  <p>
    Description: <%=f.text_field 'description'%>
  </p>
  <p>
    File: <%=f.file_field 'uploaded_data'%>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
<%= link_to 'Back', documents_path %>

